* {
  box-sizing: border-box;
}
body {
  color: black;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat;
  background-size: cover;
  
}
nav {
  border-color: aqua;
  border-width: 5vh;
  padding-bottom: 60px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
}
.header {
  justify-content: flex-end;
  justify-content: space-between;
  border: 13px groove rgba(53, 78, 247, 0.6);
  border-radius: 20px;
  letter-spacing: 20px;
  text-align: center;
  text-decoration:underline;
  box-shadow: -1px 52px 49px 17px rgba(224, 16, 16, 0.6);
  font-size: 48px;
  font-weight: bolder;
}
.current-hour {
    font-size: 20px;
  font-weight: bolder;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 25px;
    display: block;
}
.recent-search {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.save {
  border-radius: 25px;
  color: aliceblue;
  background-color: green;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  
}
.delete {
  border-radius: 25px;
  color: aliceblue;
  background-color: red;
}
.five-days div{
  background: #000000d0;
  color: white;
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
   margin: 10px ;
  margin-right: 30vh;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 25em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: azure;
  padding: 3px;
  color: black;
  border-radius: 30px;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: rgb(12, 12, 12);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: rgb(20, 20, 20);
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}


@media only screen and (max-width: 680px) {
  .card {
      background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 1px;
  max-width: 10px;
  margin: 1em;


  }
  
}
